<!-- 第三集 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form action="http://itcast.cn">
            <div>
                <span>姓名:</span>
                <span>
                    <!-- 表单修饰符 -->
                    <!-- number 转化为数值
                    trim：去掉开始和结尾的空格
                    lazy：将input事件切换为change事件
                    input事件是只要有内容发生变化就会触发
                    change是失去焦点才会触发
                    在v-model后面加
                    -->

                    <input type="text" v-model="uname">
                </span>
            </div>
            <div>
                <span>性别:</span>
                <span>
                    <!-- value =1 的时候 选择的是男 -->
                    <input type="radio" id="male" value="1" v-model="gender">
                    <label for="male">男</label>
                    <input type="radio" id="female" value="2" v-model="gender">
                    <label for="female">女</label>
                </span>
            </div>
            <div>
                <span>爱好:</span>
                <span>
                    <input type="checkbox" name="" id="ball" value="1" v-model="hobby">
                    <label for="ball">篮球</label>
                    <input type="checkbox" name="" id="sing" value="2" v-model="hobby">
                    <label for="ball">唱歌</label>
                    <input type="checkbox" name="" id="code" value="3" v-model="hobby">
                    <label for="ball">写代码</label>
                </span>
            </div>
            <div>
                <span>职业:</span>
                <select name="" v-model="occupation" multiple>
                    <option value="0">请选择职业...</option>
                    <option value="1">教师</option>
                    <option value="2">软件工程师</option>
                    <option value="3">讲师</option>

                </select>
            </div>
            <div>
                <span>个人简历:</span>
                <textarea name="" id="" cols="30" rows="10" v-model="desc"></textarea>
            </div>
            <div>
                <input type="submit" value="提交" @click.prevent="handle">
            </div>

        </form>
    </div>
</body>
<script>

    const vm = new Vue({
        el: '#app',//挂载到id为app上 元素的挂载位置 把数据关联到页面中的某个标签里
        data: {//模型数据 对象
            uname: 'lisi',
            gender: '1',
            hobby: ['1', '2'],
            occupation: ['1', '2'],
            desc: 'hdhfj'
        },
        methods: {
            handle() {
                console.log(this.uname + this.gender)
                console.log(this.hobby.toString())
                console.log(this.occupation)
            }
        }

    })
</script>

</html>