<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-cloak>
            {{content}}
        </div>
        <ul>
            <li v-for="item in fruits">{{item}}</li>
        </ul>
        <!-- 遍历对象 -->
        <div v-if="value==18" v-for="(value,key,index) in Obj">
            {{value+'---'+key+'----'+index}}
        </div>
        <!-- v-if 满足某些条件的时候才会进行遍历 -->
    </div>
    <script>
        /**
         * 循环结构
         * 原生js遍历对象
        */
        var Obj = {
            uname: 'lisi',
            cname: '李四',
            age: 18
        }
        for (var key in Obj) {//for in遍历对象
            console.log(key,Obj[key])
        }
        const vm = new Vue({
            el: '#app',
            data: {
                fruits: ['apple', 'orange', 'bannan'],
                content: '水果列表',
                Obj: {
                    uname: 'lisi',
                    cname: '李四',
                    age: 18
                }
            },
            methods: {

            },
        })
    </script>
</body>

</html>