<!-- 第三集 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .current{
            color: orange;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <fruit-list :list="list">
            <template slot-scope="slotProps">
            <strong v-if="slotProps.item.id==2" class="current"> {{slotProps.item.name}}</strong>
            <span v-else>{{slotProps.item.name}}</span>   
        </template>
        </fruit-list>
    </div>
</body>
<script>
    /*
    blur是失去焦点触发函数
    */
    Vue.component('fruit-list', {
        template: `
            <div>
                <li :key="item.id" v-for="item in list">
                    <slot :item="item">
                        {{item.name}}
                        </slot>
                    </li>
                </div>
            `,
        props:['list']
    })
    
    const vm = new Vue({
        el: '#app',//挂载到id为app上 元素的挂载位置 把数据关联到页面中的某个标签里
        data: {//模型数据 对象
            list:[
                {
                    id:1,
                    name:'apple'
                },
                {
                    id:2,
                    name:'orange'
                },
                {
                    id:3,
                    name:'banana'
                }
            ]
        },
        methods: {

        }

    })
</script>

</html>